.center {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 20%;
  z-index: 1;
}
.center div {
  width: 171px;
  height: 60px;
}
.center .left {
  background: url(images/taskcenter.png) no-repeat;
  background-size: 100% 100%;
}
.center .right {
  background: url(images/shoppingpoint.png) no-repeat;
  background-size: 100% 100%;
}
