.ForRecord_box {
  width: 100vw;
  height: 100vh;
  background-color: ghostwhite;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.ForRecord_box .ForRecord_header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;
  background-color: white;
}
.ForRecord_box .ForRecord_header span {
  font-weight: 600;
}
.ForRecord_box .ForRecord_header span:nth-child(1) {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(images/leftreturn.png) no-repeat;
  background-size: 100% 100%;
}
.ForRecord_box .ForRecord_content .ForRecord_content_item {
  width: 100%;
}
.ForRecord_box .ForRecord_content .ForRecord_content_item .alltimes {
  margin-left: 20px;
}
.ForRecord_box .ForRecord_content .ForRecord_content_item div {
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3px 0;
}
.ForRecord_box .ForRecord_content .ForRecord_content_item div div {
  height: 40px;
}
.ForRecord_box .Pagination {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
